:root{
    --cyan: #00437b;
    /* --cyan: #102542; */
   
    --green: white;
    --font-family: ;

}
*{
    padding: 0%;
    margin: 0%;
    
    
}
form{
    display: flex;
    height: 100vh;
}
.first-half{
    margin-top: 60px;
}
.first-half p i{
    color: var(--cyan);

}
.first-half{

    width: 45%;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
    
}

.first-half input, select{
    margin-bottom: 20px;
    margin-top: 10px;
    width: 45%;
    border:2px solid black;
    padding: 15px;
    padding-right: 120px;
    
    border-radius: 50px;
}
.first-half select{
    margin-bottom: 20px;
    width: 91%;
    border:2px solid black;
    border-radius: 50px;

}

.first-half  button{
    border:1px solid;
    padding: 10px;
    width: 110px;
    border-radius: 22px;
    margin: 20px;
    font-size: large;
    color: white ;
    background-color: var( --cyan);
    border-color:  var( --cyan);
}


hr{
    /* border-top: 2px solid ;
    
    border-right-style: 45px;
    padding: 50px; */
    width: 50%;
    border: 1px solid black;
    opacity: 0.6;
    margin-bottom: 20px;
}
.icons .login-button {
    display: inline;
    
    
    
}
.icons .login-button i{
    
    margin: 10px;
    padding: 14px;
    border: 3px solid var(--cyan);
    border-radius: 50%;
}
.icons .login-button a{
    text-decoration: none;
}
.button-icon{
    color:var(--cyan);

}
.signin:hover {

    transform: scale(0.95);
    cursor: pointer;

    
}
    



.half{
    height:100vh ;
    width: 60%;
    animation: slide-in-tr 1s ease-in-out;
    background-color: var(--cyan);
    border: 1px solid hidden;
    border-bottom-left-radius: 65%;
    
}
.half h2, .half p{
    margin-bottom: 10px;

}

.half img {
    width: 500px;
    height: 280px;
    position: absolute;
    top: 36%;
    right: 29%;
    transform: rotate(360deg) scaleX(-1);
    max-width: 80%;
    height: auto;
    /* animation: scale-in-ver-bottom 0.3s ease-in-out; */
}
.half h2{
    color: var(--green);
    padding-top: 16%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    font-size: 42px;
    
}
.half p{
    color: var(--green);
    padding-left: 7%;
    font-size: 18px;
    text-align: center;
    width: 90%;
    
}
.half .signup{
    margin: 10px;
    text-align: center;
    display: block;
    margin-left: 50%;
    text-decoration: none;
    font-size: 18px;
    border:1px solid ;
    margin-top: 20px;
    padding: 8px;
    width: 110px;
    border-radius: 22px;
    
    font-size: larger;
    color:var(--green);
    background-color: var(--cyan);
    border-color:  var( --green);
}
.first-half .icons .login-button:hover{    
    cursor: pointer;
    
    
}
.icons .login-button i:hover{
    background-color: var(--cyan);
    color: var(--green);
    transform: scale(0.95);
    
    
}
.first-half .or{
    margin-bottom: 16px;
}
.signup:hover{
    background-color: var(--green);
    color: var(--cyan);
    transform: scale(0.95);
    
   

}



/* animations */

/* ----------------------------------------------
 * Generated by Animista on 2023-8-30 3:51:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-tr
 * ----------------------------------------
 */
 
  @keyframes slide-in-tr {
    0% {
      -webkit-transform: translateY(-1000px) translateX(1000px);
              transform: translateY(-1000px) translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
      opacity: 1;
    }
  }
  
/* ----------------------------------------------
 * Generated by Animista on 2023-8-30 4:2:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  




